.container {
  width: 280px;
  color: #314d3e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}


.input-label {
  font-size: 12px;
  font-weight: bold;
  width: 80px;
}

.select-label {
  font-size: 12px;
  font-weight: bold;
  width: 80px;
}

.input-field {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 0.8rem;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #3e8e41;
}